Source: ros-humble-tiago-pro-head-robot
Section: misc
Priority: optional
Maintainer: user <aina.irisarri@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tiago-pro-head-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-tiago-pro-head-bringup, ros-humble-tiago-pro-head-controller-configuration, ros-humble-tiago-pro-head-description, ros-humble-ros-workspace
Description: The tiago_pro_head_robot package
